.kpi-from-row{
    display: flex;
    justify-content: center;
    padding: 5px;

}
.kpi-form-label{
    width: 700px;
    font-weight: bolder;
    font-size: 14px;
}
.kpi-form-input{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
}